@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

body {
  margin: 0;
}
.container {
  width: 90%;
  margin: auto;  
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.board-btns {
  font-family: 'Press Start 2P', cursive;
  padding: 8px;
  margin: auto;
}

#screen {
  height: 50px;
  max-width: 500px;
  margin: 20px auto 0 auto;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-align: center;
}

.options {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 40px;
  width: 100%;
}

.options input {
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  border: 1px solid rgb(141, 129, 129);
  border-radius: 5px;
  outline: none;
  height: 40px;
  width: 180px;
  grid-column: 2/4;
}

input::placeholder {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.btns {
  margin-top: 10px;
}

.btns>button {
  padding: 5px;
  width: 80px;
  font-family: 'Press Start 2P', cursive;  
}

#grid {
  background-color: rgb(54, 51, 51);
  min-width: 425px;
  min-height: 425px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px 5px;
}
.cell {
  background-color: white;
}
.x-marker, .o-marker {
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.x-marker {
  background-image: url('assets/x-marker.png');
  
}
.o-marker {
  background-image: url('assets/o-marker.png');
}

.active {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 880px) {
  .flex {
    flex-direction: column;
  }
  .options {
    padding-top: 10px;
    margin-bottom: 20px;
  }
}